  <!-- Mobile Menu -->
  <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

  <div class="mobile-menu-container">
      <div class="mobile-menu-wrapper">
          <span class="mobile-menu-close"><i class="icon-close"></i></span>

          <form action="#" method="get" class="mobile-search">
              <label for="mobile-search" class="sr-only">Search</label>
              <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
              <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
          </form>
          
          <nav class="mobile-nav">
              <ul class="mobile-menu">
                  <li class="active">
                      <a href="">Home</a>
                  </li>
                  
                  <li>
                      <a href="/product" class="sf-with-ul">Product</a>
                  </li>

                  <li>
                      <a href="#">About</a>
                  </li>
                  <li>
                      <a href="#">Contact</a>
                  </li>
                  <li>
                      <a href="#">Blog</a>
                  </li>
                  
                
              </ul>
          </nav><!-- End .mobile-nav -->

          
      </div><!-- End .mobile-menu-wrapper -->
  </div><!-- End .mobile-menu-container -->