<div class="page-wrapper">
    <header class="header">
        <div class="header-top">
            <div class="container">


                <div class="header-right">
                    <ul class="top-menu">
                        <li>
                            <a href="#">Links</a>
                            <ul>
                                <li><a href="/login"><i class="icon-user"></i>Login</a></li>
                            </ul>
                        </li>
                    </ul><!-- End .top-menu -->
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-top -->

        <div class="header-middle sticky-header">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>

                    <a href="/" class="logo">
                        <img src="/uploads/LOGO/KPK_WATCHES_LOGO-removebg-preview.png " alt="KPK WATCHES LOGO" width="105" height="25">
                    </a>

                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            <li class="megamenu-container ">
                                <a href="/">Home</a>
                            </li>
                            <li class="megamenu-container ">
                                <a href="/product">Shop</a>

                            </li>
                            <li>

                                <a href="/about">About</a>

                            </li>
                           
                            <li>
                                <a href="/contact">Contact</a>
                            </li>

                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->
                </div><!-- End .header-left -->

                <div class="header-right">
                    <div class="header-search" hidden>
                        <a href="#" class="search-toggle" role="button" title="Search"><i
                                class="icon-search"></i></a>
                        <form action="/searchProduct" method="post">
                            <div class="header-search-wrapper">
                                <label for="search" class="sr-only">Search</label>
                                <input type="search" class="form-control" name="search" id="Search"
                                    placeholder="Search in..." required>

                            </div><!-- End .header-search-wrapper -->
                        </form>
                    </div><!-- End .header-search -->

                    <div class="dropdown cart-dropdown">
                        <a href="/cart" class="dropdown-toggle" role="button" aria-haspopup="true"
                            aria-expanded="false" data-display="static">
                            <i class="icon-shopping-cart"></i>
                        </a>
                    </div><!-- End .cart-dropdown -->
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-middle -->
    </header><!-- End .header -->