<%- include('../layouts/user/userHeader') %>
<%- include('../layouts/user/userNavBar') %>

    

<div class="otp-verification-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url(../user/assets/images/banners/countdown-begins-antique-timer-sand-flowing-endlessly-generated-by-ai.jpg)">
    <div class="container">
        <div class="form-box">
            <div class="form-tab">
                <ul class="nav nav-pills nav-fill" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="otp-verification-tab" data-toggle="tab" href="#otp-verification" role="tab" aria-controls="#otp-verification" aria-selected="true">Forgot password</a>
                    </li>
                </ul>
                

                <div class="shadow-xl p-4 p-lg-5 bg-white forget">
                    <h1 class="text-center fs-2 mb-5 fw-bold">Forgotten Password</h1>
                    <p class="text-muted">Please enter your email below and we will send you a secure link to reset your password.</p>
                    <form method="post" action="/forgetpass">
                        <div class="form-group">
                          <label for="forgot-password" class="form-label">Email address</label>
                          <input type="email" class="form-control" id="forgot-password" placeholder="name@email.com" name="mail" required>
                        </div>
                        <button type="submit"  class="btn btn-dark d-block w-100 my-4">Send Reset Link</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

