<%- include('../layouts/user/userHeader') %>
<%- include('../layouts/user/userNavBar') %>

<div class="order-success-wrapper">
    <div class="container">
       
        <style>
            .center-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 75vh; /* Adjust the height as needed */
            }
        </style>
        
        <div class="order-success-content center-content">
            <h1 class="mb-4">Your Order Has Been Placed Successfully!</h1>
            <p class="mb-4">Thank you for shopping with us.</p>
           
            <a href="/home" class="btn btn-primary">Continue Shopping</a>
        </div>
        
       
    </div>
</div>